[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "0.76.0"}
requests = "*"
opencv-python = "*"
pillow = "*"

[dev-packages]
flake8 = "4.0.1"
yapf = "0.32.0"

[requires]
python_version = "3.9.12"
